	<p>
		<%= f.label "Subcategory Name" %>
		<%= f.text_field :name %>
	</p>
	
	<p>	
		<%= f.label 'Category' %>
		<%= f.select :category_id, options_for_select(@categories.map{|category| [category.name, category.id]}, params[:category_id].to_i) %><br />
	</p>
	
	<p>
		<% if !brands.empty? %>
		<h2>Select Brands</h2>
			<% brands.each do |brand| %>
				<%= check_box_tag "subcategory[brand_ids][]", brand.id, subcategory.brands.include?(brand) %>
				<%= brand.name %><br />
			<% end%>
			<br />
		<% end %>
	</p>
	<p class="buttons">
		<%= submit_tag "Save Subcategory", :class => "button" %> or 
		<%= link_to "Cancel", admin_subcategories_url %>
	</p>