<% include_stylesheet 'admin/products' %>

<h1>
	<%= @subcategory.name%>
	<span style="font-size:60%">
		(Belongs To <%= link_to @subcategory.category.name, admin_category_url(@subcategory.category.id)  %>)		
	</span>
	<%= link_to "(Edit)", edit_admin_subcategory_url(@subcategory), :class => "product-edit" %>
</h1>

<% if !@subcategory.brands.empty? %>
	<table class="index">
		<thead>
			<tr>
				<th>Brand</th>
				<th>Website</th>
				
				<th>Manage</th>
			</tr>
		</thead>
	
	<% @subcategory.brands.each do |brand| %>
		<tr>
			<td><%= brand.name%></td>
			<td><%= link_to brand.website, brand.website %></td>
			<td><%= link_to "View Brand", admin_brand_url(brand.id) %> | <%= link_to "Remove Brand",  admin_subcategory_brand_url(@subcategory.id,brand.id), :method => :delete %></td>
		</tr>
	<% end%>
	</table>
<% else %>
<p>
	No brands associated with this subcategory. Please <%= link_to "Add a Brand", new_admin_subcategory_brand_url(@subcategory.id) %>
	</p> 
<% end %>
<div id="actions">
	<ul>		
		<li>
			<%= link_to image_tag('/images/admin/minus.png', :border => 0) + " Remove Subcategory", admin_subcategory_url(@subcategory), :method => :delete %>
		</li>
		<li>
			<%= link_to image_tag('/images/admin/plus.png', :border => 0) + " Add Brand", new_admin_subcategory_brand_url(@subcategory.id) %>
		</li>
	</ul>
</div>
