<% include_stylesheet 'admin/products' %>

<h1>Brands</h1>
<table class="index">
	<thead>
		<tr>
			<th>Brand</th>
			<th>Website</th>
			<th>Manage</th>
		</tr>
	</thead>

<% @brands.each do |brand| %>
	<tr>
		<td><%= link_to brand.name, admin_brand_url(brand.id) %></td>
		<td><%= link_to brand.website, brand.website %></td>
		<td><%= link_to "Edit", edit_admin_brand_url(brand.id) %> | <%= link_to "Delete", admin_brand_url(brand.id), :confirm => "This will remove the brand from all subcategories", :method => :delete %></td>
	</tr>
<% end%>
</table>

<div id="actions">
	<ul>		
		<li>
			<%= link_to image_tag('/images/admin/plus.png', :border => 0) + " Add Brand", new_admin_brand_url %>
				
		</li>
	</ul>
</div>