<% include_stylesheet 'admin/products' %>

<h1><%= @brand.name %><%= link_to "(Edit)", edit_admin_brand_url(@brand), :class => "product-edit" %></h1>
<h2><%= link_to @brand.website, @brand.website %></h2>
<h2 style="margin: 10px 0 0 0;">Subcategories</h2>
<table class="index">
	<thead>
		<tr>
			<th>Subcategory</th>
			<th>Manage</th>
		</tr>
	</thead>
<% @brand.subcategories.each do |subcategory| %>
	<tr>
		<td><%= subcategory.name%></td>
		<td><%= link_to "Other Brands", admin_subcategory_brands_url(subcategory.id)%> | <%= link_to "Remove from Subcategory", admin_subcategory_brand_url(subcategory.id,@brand.id), :method => :delete %></td>
	</tr>
<% end %>
</table>		
<div id="actions">
	<ul>		
		<li>
			<%= link_to image_tag('/images/admin/minus.png', :border => 0) + " Delete Brand", admin_brand_url(@brand), :confirm => "This will remove the brand from all subcategories", :method => :delete %>
		</li>		
	</ul>
</div>
