	<p>
		<%= f.label "Category Name" %>
		<%= f.text_field :name %>
	</p>
	
	<p>	
		<%= f.label 'Description' %>
		<%= f.text_area :description, :rows => 5, :cols => 45%>
	</p>
	<p class="buttons">
		<%= submit_tag "Save Category", :class => "button" %> or 
		<%= link_to "Cancel", admin_categories_url %>
	</p>