<% include_stylesheet 'admin/products' %>

<h1><%= @category.name %><%= link_to "(Edit)", edit_admin_category_url(@category), :class => "product-edit" %></h1>
<p><%= @category.description %></p>

<% if !@category.subcategories.empty? %>
<h2>Subcategories</h2>
<table class="index">
	<thead>
		<tr>
			<th>Subcategory</th>
			<th>Manage</th>
		</tr>
	</thead>
	<% @category.subcategories.each do |subcategory| %>
		<tr>
			<td><%= link_to subcategory.name, admin_subcategory_url(subcategory) %></td>
			<td>
				<%= link_to "Delete Subcategory", admin_subcategory_url(subcategory.id), :method => :delete %>
			</td>
			
		</tr>
	<% end %>
</table>
<% else %>
<% end %>
<div id="actions">
	<ul>		
		<li>
			<%= link_to image_tag('/images/admin/minus.png', :border => 0) + " Delete Category", admin_category_url(@category), :method => :delete %>
		</li>
		<li>
			<%= link_to image_tag('/images/admin/plus.png', :border => 0) + " Add Subcategory", new_admin_category_subcategory_url(@category.id) %>
		</li>
	</ul>
</div>